detail {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  info {
    raw {
      .keccak-link {
        text-decoration: underline;
        color: #00e;

        cursor: pointer;

        &:visited {
          color: #00e;
        }
      }
    }

    hash {
      background-color: rgba(127, 127, 127, 0.25);

      font-size: 0.65em;
    }

    table {
      .label {
        font-size: 0.65em;
      }
    }
  }
}