home {
  flex: 1 1 auto;

  display: flex;

  justify-content: center;
  align-items: center;

  left {
    flex: 1 1 auto;

    max-height: 100%;

    display: flex;
    flex-direction: column;

    // justify-content: center;
    // align-items: stretch;


    tab-panel {
      panels {
        selector {
          font-size: 0.55rem;
          font-weight: bold;

          &.selected {
            background-color: rgba(127, 127, 127, 0.5);
          }
        }
      }

      container {
        flex: 1 1 auto;
        display: flex;

        overflow: auto;

        filter-view {
          flex: 1 1 auto;

          display: flex;
          flex-direction: column;

          justify-content: center;

          filter-input {
            filter {
              display: inline-block;

              padding: 0.1em;

              font-size: 0.7em;

              border: solid 1px rgba(0, 0, 0, 0.5);
            }
          }

          db {
            flex: 1 1 auto;

            // justify-content: center;

            overflow: auto;

            word-break: break-all;

            direction: rtl;

            & > * {
              direction: ltr;
            }

            json {
              word-break: break-word;
            }

            raw {
              flex: 0 1 auto;

              display: flex;
              flex-direction: column;

              align-items: center;

              font-family: monospace;

              .label {
                font-size: 0.35rem;
                font-weight: bold;
              }

              &:hover {
                background-color: rgba(127, 127, 127, 0.2);
              }

              table {
                width: 100%;

                direction: ltr;
              }

              .info {
                display: flex;

                align-items: center;

                color-hash {
                  padding: 0.1em;

                  font-size: 0.65em;
                  font-family: monospace;

                  background-color: rgba(127, 127, 127, 0.25);

                  span {
                    display: inline-block;
                  }
                }
              }

              data {
                display: block;
                flex: 1 1 auto;
              }
            }

            hash-text-json {
              flex: 0 1 auto;

              display: flex;
              flex-direction: column;

              &:hover {
                background-color: rgba(127, 127, 127, 0.2);
              }

              hash {
                font-size: 0.75em;
                font-family: monospace;

                background-color: rgba(127, 127, 127, 0.25);
              }

              json {
                font-size: 0.75em;
                font-family: monospace;

                background-color: rgba(127, 127, 127, 0.1);
              }
            }
          }
        }
      }
    }
  }

  right {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;

    max-width: 50%;

    justify-content: center;
    align-items: center;

    text-input {
      display: flex;
      flex-direction: column;

      align-items: center;

      label {
        display: block;

        font-size: 0.75em;
        font-weight: bold;
      }
    }
  }
}