color-hash {
  font-size: 0.5em;

  font-weight: lighter;

  transform: scale(0.75, 3);

  span {
    display: inline-block;

    overflow: hidden;

    color: rgba(0, 0, 0, 0);

    width: 0.75em;
    height: 0.75em;
  }

}